<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Share To iLike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestExtensionApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49017EF91B73331B00535AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49017F0E1B73331B00535AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49017F221B73334D00535AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49017F351B733B6100535AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
